@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hard-blue: #0d2744;
  --white: white;
  --light-grey: #99a4af;
  --blue: #009ee1;
  --dodger-blue: #007cb6;
  --grey: #5f839c;
  --extra-dark-blue: #081f38;
  --dark-blue: #133255;
  --back-grey: #f7f9fa;
  --soft-grey: #c2cdd8;
  --black: #171931;
  --dark-grey: #33383f;
  --cream-blue: #cce5f3;
  --silver: #dee5eb;
  --light-blue: #31b1e8;
  --faint-blue: #4ed2fd;
  --soft-blue: #e6f7ff;
  --light-blue-2: #a8d9eb
}



body {
  background-color: var(--hard-blue);

}

@layer utilities {
  .container {
    @apply w-full mx-auto max-w-332 min-h-[30px] relative px-[50px] max-md:px-5;
  }

}